<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <meta charset="UTF-8">
    <title>ngu</title>
</head>
<body>
<div class="container-fluid">
    <div class="row" style="margin-top: 50px;">

                    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                        <div class="navbar-header">

                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                            </button> <a class="navbar-brand" href="#">Brand</a>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="#">Link</a>
                                </li>
                                <li>
                                    <a href="#">Link</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">Action</a>
                                        </li>
                                        <li>
                                            <a href="#">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#">Something else here</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#">Separated link</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#">One more separated link</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <form class="navbar-form navbar-left" role="search">
                                <input ng-model="munu" type="text" class="form-control" placeholder="Search">
                                <button type="submit" class="btn btn-default">
                                    Submit
                                </button>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="#">Link</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">Action</a>
                                        </li>
                                        <li>
                                            <a href="#">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#">Something else here</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </nav>
        <div class="col-md-3" style="background: pink;">
            <div>
                <ul class="Danh_sach" style="list-style:none">
                    <li><a href="#">Danh mục 1</a> </li>
                    <li><a href="#">Danh mục 2</a> </li>
                    <li><a href="#">Danh mục 3</a> </li>
                    <li><a href="#">Danh mục 5</a> </li>
                    <li><a href="#">Danh mục 6</a> </li>
                    <li><a href="#">Danh mục 7</a> </li>
                    <li><a href="#">Danh mục 8</a> </li>
                    <li><a href="#">Danh mục 9</a> </li>
                    <li><a href="#">Danh mục 10</a> </li>
                    <li><a href="#">Danh mục 11</a> </li>
                </ul>
            </div>
        </div>
                    <div class="col-md-9" style="padding-top: 10px;">
                        <div ng-app="myapp" ng-controller="myctrl">
                            <nav class="navbar navbar-inverse">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <a class="navbar-brand" href="#">Youtube VN</a>
                                    </div>
                                    <ul class="nav navbar-nav">
                                        <li class="active"><a href="#">Trang Chủ</a></li>
                                        <li><a href="#">Video hot</a></li>
                                        <li><a href="#">Highlight</a></li>
                                    </ul>
                                    <form class="navbar-form navbar-left">
                                        <div class="input-group">
                                            <input ng-model="munu" type="text" class="form-control" placeholder="Search">

                                            <div class="input-group-btn">
                                                <button class="btn btn-default" type="submit">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </nav>
                            <div class="content">
                                <div class="row">
                                    <div class="col-sm-3" ng-repeat="video in videos|filter:{title:munu}">
                                        <a href="https://www.youtube.com/watch?v={{video.id}}"><img src="https://i.ytimg.com/vi/{{video.id}}/hqdefault.jpg" class="img-thumbnail" style="width:306px;height:204px"" </a>
                                        <div style="overflow: hidden; text-overflow:ellipsis">
                                            <a href="https://www.youtube.com/watch?v={{video.id}}" style="white-space: nowrap">
                                                {{video.title}}
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
    </div>
</div>
</body>
<script>
    var app=angular.module ("myapp",[]);
    app.controller ("myctrl",function ($scope) {
        $scope.videos=[{"id":"hxLIBC5_8Ig","title":"Loa Phường tập 39: Mưu hèn chốn công sở | Phim hài 2017"},
            {"id":"FvqiG_M5SMI","title":"Thiên Biến Vạn Hóa Tâp 17 | A Phủ tìm việc | Phim hài 2017"},
            {"id":"Mj58a6N0aAU","title":"Loa Phường tập 37 | Ngọc Trinh và em anh chọn ai? | Phim hài 2017"},
            {"id":"b_MGOI3hL3w","title":"Loa Phường tập 36 | KHI THẦY GIÁO LÀ \"EM GÁI MƯA\" | Phim hài 2017"},
            {"id":"qMGyMNFIakc","title":"Loa Phường tập 35 | HOÀNG TỬ SHIPPER & ÔNG HOÀNG BẮT CÓC | Phim hài 2017"},
            {"id":"WT1uMPlbH3Q","title":"Loa Phường tập 34 | 50K 1 LẦN ÔM | Phim hài 2017"},
            {"id":"ILspRvvlFyY","title":"Loa Phường tập 33 | ĐỪNG ĐỂ CHẤT CAY LÀM BAY NHÂN CÁCH | Phim hài 2017"},
            {"id":"Y-IxQMZOhvY","title":"Loa Phường tập 32 | ĐẸP TRAI MỚI CÓ GÁI YÊU | Phim hài 2017"}




        ]

    })
</script>
</html>
